.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid darkslategray;
    background-color: whitesmoke;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(29, 45, 48, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: darkslategray;
    color: whitesmoke;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}
/*Display Feedback for correct & incorrect answers*/
.correct {
    background-color: #1c642d;
}

.incorrect {
    background-color: #a82a37;
}