.h1 {
  font-size: 5.4rem;
  color: darkslategray;
  margin-bottom: 5rem;
}

#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
}

.high-score {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}